mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin phones
  .phones
    a.phones__item(href="tel:+375173920279")
      +icon('phones__icon icon', 'phone')
      |+375 (17) 392-02-79
    a.phones__item(href="tel:+375296109165")
      +icon('phones__icon icon', 'a1')
      |+375 (29) 610-91-65
    a.phones__item(href="tel:+375298787656")
      +icon('phones__icon icon', 'mts')
      |+375 (29) 878-76-56

mixin consult
  section.consult.container
    img.consult__img(src="../../images/index/consult/phone.png", alt="")
    .consult__info
      h2.consult__title Нужна консультация?
      h3.consult__subtitle Оставьте свою заявку и мы ответим на все ваши вопросы.
      +callbackBtn
      +phones
