// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary-alpha: #d4251f;
$color-primary-beta: #fff;
$color-primary-gamma: #1d1d1d;
$color-primary-psi: #00247d;
$color-primary-omega: #6a6a6a;

$color-secondary-beta: #ccc;
$color-secondary-gamma: #383838;
$color-secondary-psi: #4d7eff;
$color-secondary-omega: #e5e5e5;

// Fonts
$font-primary: 'Museo', sans-serif;
$font-secondary: 'Trajan', sans-serif;
