// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary-alpha: #561075;
$color-primary-beta: #fff;
$color-primary-gamma: #000;
$color-secondary-alpha: #303030;
$color-secondary-beta: #cecfcf;
$color-secondary-gamma: #f1f2f3;
$color-tertiary-alpha: #39eca2cc;
$color-tertiary-beta: #f8424c;
// Fonts
$font-primary: 'Museo', sans-serif;
$font-secondary: 'Trajan', sans-serif;
