.contacts {
  padding-bottom: 5rem;

  @include phones(column, 0, 300);

  .phones__item {
    margin-bottom: 0.8rem;
  }

  @include location(row, 1.6rem, 300, 13px);

  .location__address {
    p {
      font-size: 16px;
    }
  }

  line-height: 1.4;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 107.7rem;

  padding: 1.5rem 0 2rem;
}

.contacts__item {
  margin-bottom: 3rem;

  @include media-tablet-sm {
    width: 48%;
  }

  @include media-smartphone-lg {
    width: 100%;
  }
}

.contacts__title {
  margin-bottom: 2rem;

  font-size: 1.8rem;
  font-weight: 500;
}

.contacts__mail {
  color: $color-primary-gamma;
  font-size: 16px;

  transition: color 0.05s linear;

  &:hover {
    color: $color-primary-alpha;
  }
}
