.footer {
  padding: 3.2rem 0;

  background-color: $color-tertiary-beta;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item {
  display: flex;
  align-items: center;

  font-size: 14px;
}

.footer__txt {
  margin-right: 1.6rem;
}

.footer__btn {
  color: $color-primary-gamma;

  border-bottom: 1px solid $color-primary-gamma;

  transition: color 0.1s linear, border-color 0.1s linear;

  &:hover {
    color: lighten($color-primary-gamma, 10);
    border-color: lighten($color-primary-gamma, 10);
  }
}
