@import '../../local_modules/normalize.css/normalize';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;

  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include outline;
  }
}

img {
  display: block;

  width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;

  font-size: 16px;
}

select {
  appearance: none;
  border: none;
  font: inherit;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include outline;
  }
}

textarea {
  font: inherit;

  border: none;
  resize: none;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include outline;
  }
}

input {
  font: inherit;

  border: none;
  background: none;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include outline;
  }
}

input[type='button'] {
  padding: 0;

  cursor: pointer;
}

::placeholder {
  color: $color-quaternary-omega;
}

button {
  font: inherit;

  padding: 0;

  cursor: pointer;

  border: none;
  background: none;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    @include outline;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 62.5%;

  @include media-laptop {
    font-size: 55%;
  }
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 300;

  margin: 0;

  color: $color-primary-gamma;
  background-color: $color-primary-beta;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  margin-top: 21.2rem;

  overflow-x: hidden;

  @include media-tablet-lg {
    margin-top: 215px;
  }

  @include media-tablet-sm {
    margin-top: 76px;
  }

  @include media-smartphone-sm {
    margin-top: 68px;
  }
}

.overlay {
  position: fixed;

  z-index: 9;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  transition: 200ms ease-in-out;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);

  pointer-events: none;

  cursor: pointer;

  &.active {
    opacity: 1;

    pointer-events: all;
  }
}

.scroll-hidden {
  overflow: hidden;
}

.element-fade {
  opacity: 0;

  transition: opacity 0.5s linear;

  &:nth-child(1) {
    transition-delay: 0s;
  }

  &:nth-child(2) {
    transition-delay: 0.5s;
  }

  &:nth-child(3) {
    transition-delay: 1s;
  }

  &:nth-child(4) {
    transition-delay: 1.5s;
  }

  &.show {
    opacity: 1;
  }

  @include media-tablet-lg {
    transition: opacity 0.2s linear;

    &:nth-child(1) {
      transition-delay: 0.2s;
    }

    &:nth-child(2) {
      transition-delay: 0.4s;
    }

    &:nth-child(3) {
      transition-delay: 0.2s;
    }

    &:nth-child(4) {
      transition-delay: 0.4s;
    }
  }

  @include media-smartphone-sm {
    transition: opacity 0.1s linear;

    &:nth-child(1) {
      transition-delay: 0s;
    }

    &:nth-child(2) {
      transition-delay: 0s;
    }

    &:nth-child(3) {
      transition-delay: 0s;
    }

    &:nth-child(4) {
      transition-delay: 0s;
    }
  }
}
