.header {
  position: relative;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 8;

  display: flex;
  flex-direction: column;

  background-color: $color-primary-beta;

  @include media-tablet-sm {
    flex-direction: column-reverse;

    .decorator {
      display: none;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    animation: dropDown 0.15s linear;

    .phones {
      flex-direction: column;
      p {
        font-size: 14px;
      }
    }

    @include media-custom-mf(768px) {
      .header__menu {
        ul {
          a {
            padding: 1.8rem;
          }
        }
      }

      .header__bottom-wrapper,
      .decorator {
        display: none;
      }
    }
  }

  @include phones('column');
}

.header__title {
  position: absolute;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
  padding: 0;

  border: 0;

  clip-path: inset(0px 0px 99.9% 99.9%);
}

.header__top-wrapper {
  display: block;

  &.active {
    display: block;

    animation: fadeIn 0.15s linear;
  }

  @include media-tablet-sm {
    display: none;

    overflow: auto;
    height: calc(100vh - 70px);

    &.container {
      padding: 0;
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet-sm {
    justify-content: center;
    flex-direction: column;
  }
}

.header__top-right {
  display: flex;
  align-items: center;
}

.header__menu {
  @include media-tablet-sm {
    border-bottom: 1px solid $color-tertiary-beta;

    width: 100%;
  }

  ul {
    display: flex;

    @include media-tablet-sm {
      flex-direction: column;
      align-items: center;

      padding: 40px 0;
    }

    li {
      @include media-tablet-sm {
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
      }
    }

    a {
      padding: 2rem 2.6rem;

      color: $color-secondary-gamma;
      font-size: 14px;

      &:hover {
        background-color: $color-primary-alpha;
        color: $color-primary-beta;
      }

      &.active {
        background-color: $color-primary-alpha;
        color: $color-primary-beta;
      }

      @include media-tablet-sm {
        padding: 1rem 2rem;

        font-size: 24px;
      }
    }
  }
}

.header__mail {
  display: flex;
  align-items: center;

  transition: color 0.05s linear;

  margin-left: 15px;

  &:hover {
    p {
      color: $color-primary-alpha;
    }
  }

  @include media-tablet-sm {
    display: none;
  }

  .header__icon {
    margin-right: 6px;

    fill: $color-secondary-gamma;
    opacity: 0.5;
  }

  p {
    color: $color-secondary-gamma;
    font-size: 14px;
  }
}

.header__bottom-wrapper {
  position: relative;

  padding: 2rem 0;

  @include media-tablet-sm {
    padding: 1rem 0;

    border-bottom: 1px solid $color-quaternary-beta;
  }

  .callback {
    @include button(1.75rem, 3.3rem);

    margin: 0;

    font-size: 13px;

    @include media-laptop {
      padding: 1.5rem 1.3rem;
    }

    @include media-tablet-lg {
      align-self: flex-end;
    }
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  @include media-tablet-lg {
    align-items: flex-start;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;

  margin-right: 8.2rem;

  @include media-laptop {
    margin-right: 5rem;
  }

  @include media-tablet-lg {
    margin-right: 1.5rem;
  }

  @include media-tablet-sm {
    width: 100%;

    margin-right: 0;
  }
}

.header__logo-content {
  display: flex;
  align-items: center;

  @include media-tablet-sm {
    justify-content: space-between;

    margin-right: 20px;

    width: 100%;
  }

  @include media-smartphone-sm {
    .phones {
      p {
        font-size: 14px;
      }
    }
  }
}

.header__logo-link {
  max-width: 132px;

  margin-right: 3.8rem;

  @include media-laptop {
    max-width: 100px;
    margin-right: 2.5rem;
  }

  @include media-tablet-sm {
    max-width: 70px;
    margin-right: 1.5rem;
  }

  @include media-smartphone-sm {
    max-width: 60px;
  }
}

.header__subtitle {
  max-width: 19.6rem;

  font-size: 14px;
  color: $color-primary-omega;

  line-height: 1.4;

  @include media-tablet-sm {
    display: none;
  }
}

.header__info {
  display: flex;
  align-items: center;

  font-style: normal;

  &.active {
    display: flex;
  }

  @include media-tablet-lg {
    flex-direction: column;
    align-items: unset;
  }

  @include media-tablet-sm {
    align-items: center;

    padding: 40px 0;

    display: none;
  }

  .header__icon {
    margin-right: 1.2rem;
  }

  .callback {
    width: fit-content;
  }
}

.header__info-inner {
  display: flex;
  align-items: center;

  margin-right: 2rem;

  @include media-tablet-lg {
    margin-right: 0;

    margin-bottom: 1rem;
  }

  @include media-tablet-sm {
    flex-direction: column;

    margin-bottom: 18px;
  }

  @include location(row, 14px, 300, 13px);

  .location {
    @include media-laptop {
      margin-right: 2rem;
    }

    @include media-tablet-sm {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .location__address {
    @include media-laptop {
      max-width: 25rem;
    }

    @include media-tablet-sm {
      max-width: unset;
    }
  }
}

.header__icon {
  margin-right: 6px;
}

.header__club {
  position: absolute;
  right: 0;
}

.header__club-img {
  max-width: 70px;

  padding-right: 10px;

  @include media-custom(1365.98px) {
    max-width: 55px;
  }

  @include media-custom(1299.98px) {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropDown {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0);
  }
}
