.header {
  background-color: $color-primary-beta;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    animation: dropDown 0.15s linear;

    .header__bottom,
    .decorator {
      display: none;
    }
  }

  @include location(row, 14px, 300, 13px);
}

.header__title {
  position: absolute;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
  padding: 0;

  border: 0;

  clip-path: inset(0px 0px 99.9% 99.9%);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  ul {
    display: flex;

    li {
      &:not(:last-of-type) {
        margin-right: 2px;
      }
    }

    a {
      padding: 2rem 2.4rem;

      color: $color-secondary-gamma;
      font-size: 14px;

      &:hover {
        background-color: $color-primary-alpha;
        color: $color-primary-beta;
      }

      &.active {
        background-color: $color-primary-alpha;
        color: $color-primary-beta;
      }
    }
  }
}

.header__mail {
  display: flex;
  align-items: center;

  .header__icon {
    margin-right: 6px;

    fill: $color-secondary-gamma;
    opacity: 0.5;
  }

  p {
    color: $color-secondary-gamma;
  }
}

.header__bottom {
  position: relative;

  padding: 2rem 0;

  .callback {
    @include button(2rem, 3rem);

    margin: 0;

    font-size: 13px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;

  margin-right: 2rem;

  font-style: normal;

  .phones {
    @include phones('column');
  }

  .header__icon {
    margin-right: 1.2rem;
  }
}

.header__icon {
  margin-right: 6px;
}

.header__logo {
  max-width: 132px;

  margin-right: 3.8rem;
}

.header__subtitle {
  max-width: 19.6rem;

  margin-right: 8.2rem;

  font-size: 14px;
  color: $color-primary-omega;

  line-height: 1.4;
}

.header__club {
  position: absolute;
  right: 0;

  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
  border-radius: 10px 0px 0px 10px;

  &:hover {
    .header__club-img {
      opacity: 1;
    }
  }
}

.header__club-img {
  max-width: 8rem;

  padding: 1.6rem;

  opacity: 0.6;

  transition: opacity 0.1s linear;
}

@keyframes dropDown {
  0% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0);
  }
}
