header.header
  .container
    h1.header__title Аутсорсинг бухгалтерии с ООО «ОлдТраффорд» это
    p Повышение рентабельности любого бизнеса, так или иначе, затрагивает минимизацию затрат. Любому предпринимателю важно снизить себестоимость продукции или услуг, где не последнее место в списке расходов занимают затраты на содержание административного персонала, в том числе и  бухгалтерии.
