include ../includes/index/mixins

header#header.header
  h1.header__title Олд Траффорд - Бухгалтерские услуги в Минске
  #header-top-wrapper.header__top-wrapper.container
    #header-top.header__top
      block menu
        +menu
      #header-top-right.header__top-right
        a.header__mail(href="mailto:buhsale@mail.ru")
          +icon('header__icon icon', 'message')
          p buhsale@mail.ru
  +decorator
  .header__bottom-wrapper
    #header-bot.header__bottom.container
      .header__logo-wrapper
        .header__logo-content
          a.header__logo-link(href="index.html"): img.header__logo.lozad(data-src="images/index/header/logo.svg", alt="Олд Траффорд" width="100" height="80")
          h2.header__subtitle Бухгалтерское обслуживание бизнеса и физических лиц
        button#burger.burger(aria-label="Бургер-меню")
          span
      address#header-info.header__info
        .header__info-inner
          +location
          +phones
        +callbackBtn('Обратный звонок')
      a(href="fanzone.html" aria-label="Клуб поддержки Manchester United").header__club
        img.header__club-img.lozad(data-src="images/index/header/club.png", alt="Minsk Reds Supporters Club")
