mixin costBlock(title, arrItems)
  .cost__block
    .cost__title= title
    ul
      for item in arrItems
        li.cost__item
          p.cost__txt= item.service
          .cost__decorator
          p.cost__price= item.price
