.cost__inner {
  padding: 6.6rem 0;
}

.cost__block {
  &:not(:last-child) {
    margin-bottom: 7rem;
  }
}

.cost__title {
  margin-bottom: 2.7rem;

  font-size: 2.2rem;
  color: $color-primary-alpha;
  text-transform: uppercase;
  font-weight: 500;
}

.cost__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.cost__txt {
  max-width: 80rem;

  padding-right: 2rem;

  line-height: 1.4;
  color: $color-primary-omega;

  @include media-tablet-lg {
    max-width: 70rem;
  }

  @include media-tablet-sm {
    max-width: 60rem;
  }

  @include media-smartphone-lg {
    max-width: 38rem;
  }

  @include media-smartphone-sm {
    max-width: 28rem;
  }
}

.cost__price {
  min-width: fit-content;

  color: $color-tertiary-gamma;
  font-weight: 500;
  text-align: right;
}

.cost__decorator {
  position: absolute;

  height: 2px;

  background-color: $color-tertiary-beta;
}
