extends common/layout

include includes/service-onetime/mixins

block title
  title ОлдТраффорд - Контакты

block content
  main
    //Crumbs
    +crumbs([
      {href: 'contacts.html', name: 'Контакты'}
    ])

    //Contacts
    section.contacts
      .container
        +titlePage('Контакты')
        .contacts__inner
          .contacts__item
            h3.contacts__title Телефоны:
            +phones
          .contacts__item
            h3.contacts__title E-mail:
            a.contacts__mail(href="mailto:buhsale@mail.ru") buhsale@mail.ru
          .contacts__item
            h3.contacts__title Адрес:
            +location(false)
          .contacts__item
            h3.contacts__title График работы:
            .contacts__work-time
              p С 09:00 до 18:00
              p Понедельник - Пятница
        .contacts__info
          .contacts__info-item
            p Общество с ограниченной ответственностью &laquo;ОлдТраффорд&raquo; зарегистрировано Минским горисполкомом 07 марта 2014 года, регистрационный номер (УНП) 192230593
          .contacts__info-item
            h3.contacts__info-title Директор Малиновская Наталья Леонидовна, действует на основании Устава
          details.contacts__details(open)
            +summary('contacts__summary')
            .contacts__info-item
              h3.contacts__info-title Банковские реквизиты:
              p р/с  BY83PJCB30120368151000000933 в ОАО &laquo;Приорбанк&raquo; ЦБУ 115, BIC PJCBBY2X
              p адрес банка: г. Минск, ул. Кропоткина, 91
            .contacts__info-item
              p Профессиональная ответственность застрахована в ЗАСО &laquo;Промтрансинвест&raquo;.
              p Страховой полис серии ПЕ № 0533493 от 04.03.2021 г.
      .map
        #map.map__wrapper

    //Form
    section.contacts-form.container
      h3.contacts-form__title Обратная связь:
      +form('contacts-form', {name: 'Ваше имя', phone: 'Ваш телефон', email: 'Ваш e-mail', msg:'Ваше сообщение'}, {name: 'contacts-name', phone: 'contacts-phone', email: 'contacts-email', msg: 'contacts-msg'}, 'Отправить сообщение')
