extends common/layout

include includes/service-onetime/mixins

block title
  title ОлдТраффорд - Контакты

block content
  main
    //Crumbs
    +crumbs([
      {href: 'contacts.html', name: 'Контакты'}
    ])

    //Contacts
    section.contacts
      .container
        +titlePage('Контакты')
        .contacts__inner
          .contacts__item
            h3.contacts__title Телефоны:
            +phones
          .contacts__item
            h3.contacts__title E-mail:
            a.contacts__mail(href="mailto:buhsale@mail.ru") buhsale@mail.ru
          .contacts__item
            h3.contacts__title Адрес:
            +location(false)
          .contacts__item
            h3.contacts__title График работы:
            .contacts__work-time
              p С 09:00 до 18:00
              p Понедельник - Пятница
      .map
        #map.map__wrapper

    //Form
    section.contacts-form.container
      h3.contacts-form__title Обратная связь:
      +form('contacts-form', {name: 'Ваше имя', phone: 'Ваш телефон', email: 'Ваш e-mail', msg:'Ваше сообщение'}, {name: 'contacts-name', phone: 'contacts-phone', email: 'contacts-email', msg: 'contacts-msg'}, 'Отправить сообщение')
