extends common/layout

include includes/index/mixins
include common/footer

block menu
  +menu(true)

block footer
  +footer('footer--main')

block content
  main
    // Intro
    section#intro.intro(style="background-image: url(images/index/intro/bg.jpg)")
      .container
        .intro__inner
          h2.intro__title Профессиональные бухгалтерские услуги
          h3.intro__subtitle Полный спектр бухгалтерских услуг для любого вида деятельности
          .intro__buttons
            a.intro__link(href="#details" data-scroll) Подробнее
            +callbackBtn('Рассчитать стоимость услуг', 'callback--intro')

    // Descrip
    section#details.descrip
      .container
        h2.descrip__title Аутсорсинг бухгалтерии с ООО &laquo;ОлдТраффорд&raquo; это
        #swiper-descrip.swiper-container
          ul.descrip__list.swiper-wrapper
            +descripItem(['Выгодно', 'Экономия до 57%'], 'benefit', ['Повышение рентабельности любого бизнеса, так или иначе, затрагивает минимизацию затрат. Любому предпринимателю важно снизить себестоимость продукции или услуг, где не последнее место в списке расходов занимают затраты на содержание административного персонала, в том числе и  бухгалтерии.', 'Сотрудничество с нами снизит расходы Вашей компании за счет отсутствия:'], ['выплат заработной платы сотрудникам, налоговых и иных обязательных отчислений;', 'расходов на организацию рабочих мест (закупку оргтехники, мебели, расходных материалов);', 'затрат на содержание отдельной офисной площади и оплаты коммунальных услуг, услуг связи;', 'расходов на повышение квалификации и мотивации персонала;', 'оплаты за  установку и регулярного обновления современного программного обеспечения.'])
            +descripItem(['Гарантии', 'до 50 000 BYN'], 'warranty', ['В нашей компании выстроена строгая система контроля качества бухгалтерского и налогового учета, благодаря чему риск ошибок и неточностей в процессе оказания бухгалтерских услуг и подготовки отчетности в государственные органы сводится к минимуму.', 'Но мы гарантируем не только качественный результат, но и несем материальную ответственность перед каждым клиентом. Защита клиента от непредвиденных затрат осуществляется путем добровольного страхования нами профессиональной ответственности (от ошибок и упущений, совершенных или допущенных страхователем, которые будут установлены компетентными органами или вступившим в силу решением суда).', 'Агрегатный лимит ответственности составляет 50 000 BYN (пятьдесят тысяч белорусских рублей) на один страховой случай, а также 5 000 BYN (пять тысяч белорусских рублей) на возмещение судебных расходов.'])
            li.descrip__item.swiper-slide
              .descrip__feat
                p Качество и
                .descrip__icon.descrip__icon--txt
                  span 7
                  p лет
                p профессионализм
              details.descrip__details(open)
                +summary('descrip__summary')
                .descrip__txt
                    p Запросы бизнеса разнообразны, никогда не знаешь, с чем компания столкнется завтра, а только комплексный подход к планированию и учету позволяет снизить налоговую нагрузку за счет грамотной оптимизации налогообложения. Полностью знать нюансы того или иного вопроса может только опытный и высококвалифицированный специалист, содержание которого в штате может быть нерентабельно. Мы обслуживаем различные сферы деятельности, поэтому в штат нашей компании входят высококвалифицированные бухгалтера, причем не только универсалы, которые чаще обычных бухгалтеров сталкиваются с нестандартными ситуациями, но и специалисты узкого профиля – досконально знающие все тонкости конкретного направления. Объемная экспертная поддержка позволяет нам осуществлять всю работу, связанную с бухгалтерским обслуживанием, максимально быстро, но без ущерба для качества.
          .swiper-pagination

    //Provider
    section.provider
      .container
        h2.provider__title Занимайтесь бизнесом, а бухгалтерией займемся мы
        #swiper-provider.swiper-container
          ul.provider__list.swiper-wrapper
            +providerItem('Рассчитаем заработную плату и налоги Ваших сотрудников')
            +providerItem('Систематизируем все Ваши доходы и расходы')
            +providerItem('Соберем бухгалтерский баланс или книгу учета доходов расходов ИП ')
            +providerItem('Составим отчетность в пенсионный и социальные фонды')
            +providerItem('Сделаем налоговые декларации')
            +providerItem('Будем отслеживать требования и письма налоговых служб к Вашей организации')
            +providerItem('Напомним Вам о сроках налоговых платежей и сдачи отчетности')
            +providerItem('Подскажем об изменениях в налоговом законодательстве')
          .swiper-pagination

    //Pluses
    section.pluses
      .container
        h2.pluses__title
          span Плюсы&nbsp;
          |работы с нами
        +decorator
        ul.pluses__list
          +plusesItem('Стоимость услуг может быть ниже, чем зарплата штатного бухгалтера.')
          +plusesItem('Мы постоянно учимся и ежегодно повышаем квалификацию за свой счёт.')
          +plusesItem('Наши услуги застрахованы.')
          +plusesItem('Конфиденциальность. Мы храним коммерческую тайну.')
          +plusesItem('Мы не уходим в декрет и не можем уволиться.')
          +plusesItem('Высокое качество бухгалтерских услуг.')
          +plusesItem('Расширенный функционал бухгалтера.')
          +plusesItem('Наличие дополнительных услуг.')

    //Fee
    nav#services.fee
      #swiper-fee.swiper-container
        ul.fee__list.swiper-wrapper
          +feeItem('service-complex', 'fee-1.jpg', '01', 'Комплексное бухгалтерское обслуживание')
          +feeItem('service-onetime', 'fee-2.jpg', '02', 'Налоговое консультирование и разовые услуги')
          +feeItem('service-repair', 'fee-3.jpg', '03', 'Восстановление бухгалтерского и налогового учета')
          +feeItem('service-law', 'fee-4.jpg', '04', 'Юридические услуги, кадровый учет')
        .swiper-pagination

    //Consult
    +consult('Нужна консультация?', 'Оставьте свою заявку и мы ответим на все ваши вопросы.')

    //Company
    section#about.company
      .container
        .company__inner
          figure.company__img
            img(src="../../images/index/company/director.jpg", alt="")
            figcaption
              p Наталья Малиновская
              p Директор ООО &laquo;ОлдТраффорд&raquo;
          .company__info
            h2.company__title Уважаемые посетители сайта, клиенты и партнеры!
            .company__txt
              p За моими плечами более 20 лет опыта в области бухгалтерского учета различных сфер деятельности, включая медицинские услуги, производство, оптовую торговлю и  строительство.
              p Выбранная много лет назад сфера деятельности сегодня является моей гордостью. Основывая компанию «ОлдТраффорд», я приняла для себя решение, что это будет принципиально иной уровень оказания  бухгалтерских услуг.  Это будет компания, где порядочность, репутация, качество продукта, сервис, деловая этика, финансовая ответственность, стабильность и слово руководителя  - мое слово,  будет дороже денег.
              details.company__details
                +summary('company__summary')
                p Мне удалось собрать в своей команде самых лучших. Но я все так же продолжаю лично отслеживать выполнение каждого этапа выполненной работы своих сотрудников и несу личную ответственность перед Вами. Мы никогда не прячем голову в песок, не пытаемся заработать деньги любой ценой и не оставляем клиентов наедине с возникающими проблемами, мы стараемся, чтобы оказываемые нами услуги были выполнены не только на высоком уровне, но и были действительно полезны и нужны вам.
                p Именно наши клиенты и партнеры, наш опыт и команда – это и есть основные ценности компании «ОлдТраффорд». Мы уважаем каждого из наших партнеров и заказчиков, ценим их время и работаем для общего процветания, дорожим своим именем и заботимся о своей репутации, благодаря чему смогли выстроить долговременные доверительные отношения, а также получили признание на рынке и уважение конкурентов.
                p Я отдельно благодарю каждого клиента, хочу сказать спасибо каждому партнеру за  то, что Вы выбрали нас.  А также,  хочу пригласить новых клиентов оценить качество, оперативность, точность оказываемых ООО «ОлдТраффорд» бухгалтерских услуг, комфорт и слаженность работы всей нашей команды.
                +icon('company__icon', 'quot')

    //Features
    section.features
      .container
        +title('Оцените наши преимущества')
        #swiper-features.swiper-container
          ul.features__list.swiper-wrapper
            +featuresItem('like', 'Качество и профессионализм', 'Мы не новички, а команда квалифицированных бухгалтеров  имеющих  уникальный опыт в различных отраслях. Мы всегда идем в ногу со временем и повышаем свою квалификацию, учимся и работаем каждый день, чтобы с минимальными затратами для клиентов, предоставить им максимально качественное обслуживание')
            +featuresItem('avatar', 'Индивидуальный подход', 'Мы подходим к любому  бизнесу клиента с учетом всех его особенностей.  Всегда поможем Вам выбрать самый эффективный путь ведения дел, чтобы оптимизировать систему налогообложения,  снизить налоговые риски и проинформируем  об изменениях в законодательстве, которые могут повлиять непосредственно на Ваш бизнес')
            +featuresItem('money', 'Разумная ценовая политика', 'Мы ценим свое и Ваше время, поэтому не занижаем цены, чтобы потом продавать дополнительные услуги. Поэтому, подберем для Вашего бизнеса только тот набор услуг, который нужен именно Вам. Оплачивая наши услуги, Вы законно экономите средства, которые предназначены для налоговых сборов  и содержание штатной бухгалтерии')
            +featuresItem('insurance', 'Риски застрахованы', 'Мы уверены в результате наших услуг и хотим,  чтобы каждый клиент был уверен в нас. Поэтому дополнительно страхуем свою ответственность перед клиентами.   При оказании  услуг,   наша компания несет все финансовые риски  и  гарантирует возмещение  убытков (штрафы, пени и т.д.) на основании  договора страхования  профессиональной ответственности.')
            +featuresItem('bank', 'Комплексное обслуживание', 'Мы специализируемся  на бухгалтерских услугах и предлагаем каждому клиенту оценить их полный спектр.  При этом, наши клиенты никогда не окажутся без поддержки, если им понадобится помощь за рамками нашей компетенции. При участии опытных и профессиональных партнеров мы будем поддерживать Вас на пути к успеху и процветанию')
            +featuresItem('protection', 'Безопасность и конфиденциальность', 'Мы дорожим Вашей и своей репутацией, поэтому берем на себя не только финансовую ответственность за весь процесс  предоставления бухгалтерских услуг, но и гарантируем всем своим клиентам на самом высоком уровне конфиденциальность и безопасность информации, которую они нам доверяют ')
          .swiper-pagination

    //Clients
    section.clients
      .container
        +title('Нам уже доверили свою бухгалтерию')
        #swiper-clients.swiper-container
          ul.clients__list.swiper-wrapper
            +clientsItem('client-1.jpg', '#', 'Veto')
            +clientsItem('client-2.jpg', '#', 'Food Garden')
            +clientsItem('client-3.jpg', '#', 'Валекасо')
            +clientsItem('client-4.jpg', '#', 'Simpladent')
            +clientsItem('client-5.jpg', '#', 'BMW Market')
            +clientsItem('client-6.jpg', '#', 'Белкиоск')
            +clientsItem('client-7.jpg', '#', 'Eco Prost')
            +clientsItem('client-8.jpg', '#', 'Пульс цен')
            +clientsItem('client-9.jpg', '#', 'Ihde Dental')
            +clientsItem('client-10.jpg', '#', 'Закваски')
            +clientsItem('client-11.jpg', '#', 'Пил снаб')
            +clientsItem('client-12.jpg', '#', 'НикМаСтройСервис')
          .swiper-pagination

    //Work
    section.work
      .container
        +title('Работать с нами просто')
        #swiper-work.swiper-container
          ul.work__list.swiper-wrapper
            +workItem('work-1', '01', 'Свяжитесь с нами любым удобным способом')
            +workItem('work-2', '02', 'Получите консультацию по всем вопросам')
            +workItem('work-3', '03', 'Заключите договор на необходимые услуги')
            +workItem('work-4', '04', 'Предоставьте документацию бухгалтеру')
          .swiper-pagination
        +callbackBtn

    //Map
    section#contacts.map.map--main
      .container
        .map__info
          h2.map__title Контакты ООО "ОлдТраффорд"
          .map__item
            h3.map__item-title Телефон:
            +phones
          .map__item
            h3.map__item-title E-mail:
            a.map__mail(href="mailto:buhsale@mail.ru") buhsale@mail.ru
          .map__item
            h3.map__item-title Адрес:
            +location(false, true)
          a.map__link(href="contacts.html") Подробнее
      #map.map__wrapper
