extends common/layout

include includes/index/mixins

block menu
  +menu(true)

block content
  main
    // Intro
    section#intro.intro(style="background-image: url(images/index/intro/bg.jpg)")
      .container
        .intro__inner
          h2.intro__title Профессиональные бухгалтерские услуги
          h3.intro__subtitle Полный спектр бухгалтерских услуг и налоговое консультирование любого вида деятельности
          .intro__buttons
            a.intro__link(href="#details" data-scroll) Подробнее
            +callbackBtn('Рассчитать стоимость услуг')

    // Descrip
    section#details.descrip
      .container
        h2.descrip__title Аутсорсинг бухгалтерии с ООО &laquo;ОлдТраффорд&raquo; это
        ul.descrip__list
          +descripItem(['Выгодно', 'Экономия до 57%'], 'benefit', ['Повышение рентабельности любого бизнеса, так или иначе, затрагивает минимизацию затрат. Любому предпринимателю важно снизить себестоимость продукции или услуг, где не последнее место в списке расходов занимают затраты на содержание административного персонала, в том числе и  бухгалтерии.', 'Сотрудничество с нами снизит расходы Вашей компании за счет отсутствия:'], ['выплат заработной платы сотрудникам, налоговых и иных обязательных отчислений;', 'расходов на организацию рабочих мест (закупку оргтехники, мебели, расходных материалов);', 'затрат на содержание отдельной офисной площади и оплаты коммунальных услуг, услуг связи;', 'расходов на повышение квалификации и мотивации персонала;', 'оплаты за  установку и регулярного обновления современного программного обеспечения.'])
          +descripItem(['Гарантии', 'до 50 000 BYN'], 'warranty', ['В нашей компании выстроена строгая система контроля качества бухгалтерского и налогового учета, благодаря чему риск ошибок и неточностей в процессе оказания бухгалтерских услуг и подготовки отчетности в государственные органы сводится к минимуму.', 'Но мы гарантируем не только качественный результат, но и несем материальную ответственность перед каждым клиентом. Защита клиента от непредвиденных затрат осуществляется путем добровольного страхования нами профессиональной ответственности (от ошибок и упущений, совершенных или допущенных страхователем, которые будут установлены компетентными органами или вступившим в силу решением суда).', 'Агрегатный лимит ответственности составляет 50 000 BYN (пятьдесят тысяч белорусских рублей) на один страховой случай, а также 5 000 BYN (пять тысяч белорусских рублей) на возмещение судебных расходов.'])
          +descripItem(['Качество и', 'профессионализм'], 'quality', ['Запросы бизнеса разнообразны, никогда не знаешь, с чем компания столкнется завтра, а только комплексный подход к планированию и учету позволяет снизить налоговую нагрузку за счет грамотной оптимизации налогообложения.', 'Полностью знать нюансы того или иного вопроса может только опытный и высококвалифицированный специалист, содержание которого в штате может быть нерентабельно.  Мы обслуживаем различные сферы деятельности, поэтому в штат нашей компании входят высококвалифицированные бухгалтера, причем не только универсалы, которые чаще обычных бухгалтеров сталкиваются с нестандартными ситуациями, но и специалисты узкого профиля – досконально знающие все тонкости конкретного направления.', 'Объемная экспертная поддержка позволяет нам осуществлять всю работу, связанную с бухгалтерским обслуживанием, максимально быстро, но без ущерба для качества.'])

    //Provider
    section.provider
      .container
        h2.provider__title Занимайтесь бизнесом, а бухгалтерией займемся мы
        ul.provider__list
          +providerItem('Рассчитаем заработную плату и налоги Ваших сотрудников')
          +providerItem('Систематизируем все Ваши доходы и расходы')
          +providerItem('Соберем бухгалтерский баланс или книгу учета доходов расходов ИП ')
          +providerItem('Составим отчетность в пенсионный и социальные фонды')
          +providerItem('Сделаем налоговые декларации')
          +providerItem('Будем отслеживать требования и письма налоговых служб к Вашей организации')
          +providerItem('Напомним Вам о сроках налоговых платежей и сдачи отчетности')
          +providerItem('Подскажем об изменениях в налоговом законодательстве')

    //Pluses
    section.pluses
      .container
        h2.pluses__title
          span Плюсы&nbsp;
          |работы с нами
        +decorator
        ul.pluses__list
          +plusesItem('Стоимость услуг может быть ниже, чем зарплата штатного бухгалтера')
          +plusesItem('Мы постоянно учимся и ежегодно повышаем квалификацию за свой счёт.')
          +plusesItem('Наши услуги застрахованы.')
          +plusesItem('Конфиденциальность. Мы храним коммерческую тайну.')
          +plusesItem('Мы не уходим в декрет и не можем уволиться.')
          +plusesItem('Высокое качество бухгалтерских услуг.')
          +plusesItem('Расширенный функционал бухгалтера.')
          +plusesItem('Наличие дополнительных услуг.')

    //Fee
    section#services.fee
      +feeItem('service-complex', 'fee-1.jpg', '01', 'Комплексное бухгалтерское обслуживание')
      +feeItem('service-onetime', 'fee-2.jpg', '02', 'Налоговое консультирование и разовые услуги')
      +feeItem('service-repair', 'fee-3.jpg', '03', 'Восстановление бухгалтерского и налогового учета')
      +feeItem('service-law', 'fee-4.jpg', '04', 'Юридические услуги, кадровый учет')

    //Consult
    +consult('Нужна консультация?', 'Оставьте свою заявку и мы ответим на все ваши вопросы.')

    //Company
    section#about.company(style="background-image: url(images/index/company/bg.jpg)")
      .container
        .company__inner
          figure.company__img
            img(src="../../images/index/company/director.jpg", alt="")
            figcaption
              p Наталья Малиновская
              p Директор ООО &laquo;ОлдТраффорд&raquo;
          .company__info
            h2.company__title Уважаемые посетители сайта, клиенты и партнеры!
            .company__txt
              p За моими плечами более 20 лет опыта в области бухгалтерского учета различных сфер деятельности, включая медицинские услуги, производство, оптовую торговлю и  строительство.
              p Выбранная много лет назад сфера деятельности сегодня является моей гордостью. Основывая компанию «ОлдТраффорд», я приняла для себя решение, что это будет принципиально иной уровень оказания  бухгалтерских услуг.  Это будет компания, где порядочность, репутация, качество продукта, сервис, деловая этика, финансовая ответственность, стабильность и слово руководителя  - мое слово,  будет дороже денег.
              p Мне удалось собрать в своей команде самых лучших. Но я все так же продолжаю лично отслеживать выполнение каждого этапа выполненной работы своих сотрудников и несу личную ответственность перед Вами. Мы никогда не прячем голову в песок, не пытаемся заработать деньги любой ценой и не оставляем клиентов наедине с возникающими проблемами, мы стараемся, чтобы оказываемые нами услуги были выполнены не только на высоком уровне, но и были действительно полезны и нужны вам.
              p Именно наши клиенты и партнеры, наш опыт и команда – это и есть основные ценности компании «ОлдТраффорд». Мы уважаем каждого из наших партнеров и заказчиков, ценим их время и работаем для общего процветания, дорожим своим именем и заботимся о своей репутации, благодаря чему смогли выстроить долговременные доверительные отношения, а также получили признание на рынке и уважение конкурентов.
              p Я отдельно благодарю каждого клиента, хочу сказать спасибо каждому партнеру за  то, что Вы выбрали нас.  А также,  хочу пригласить новых клиентов оценить качество, оперативность, точность оказываемых ООО «ОлдТраффорд» бухгалтерских услуг, комфорт и слаженность работы всей нашей команды.

    //Features
    section.features
      .container
        +title('Оцените наши преимущества')
        ul.features__list
          +featuresItem('like', 'Профессионализм', 'Наши специалисты имеют многолетний опыт обслуживания различных сфер деятельности, постоянно проходят курсы повышения квалификации, участвуют в тематических конференциях и семинарах.')
          +featuresItem('avatar', 'Индивидуальный подход', 'Индивидуальный план работ для каждого клиента, бухгалтер всегда на связи.')
          +featuresItem('money', 'Разумная ценовая политика', 'Мы всегда предлагаем самые интересные и адекватные цены.')
          +featuresItem('protection', 'Риски застрахованы', 'Страховая сумма обеспечивает дополнительную гарантию для наших клиентов')
          +featuresItem('bank', 'Комплексное обслуживание', 'Мы оказываем полный спектр услуг для бизнеса, если какой-то вопрос находится вне сферы деятельность бухгалтера, то мы подключим другого специалиста нашей команды? юриста, специалиста по кадрам,')
          +featuresItem('insurance', 'Конфиденциальность', 'Наша компания гарантирует конфиденциальность корпоративной информации')

    //Clients
    section.clients
      .container
        +title('Нам уже доверили свою бухгалтерию')
        ul.clients__list
          +clientsItem('client-1.jpg')
          +clientsItem('client-2.jpg')
          +clientsItem('client-3.jpg')
          +clientsItem('client-4.jpg')
          +clientsItem('client-5.jpg')
          +clientsItem('client-6.jpg')
          +clientsItem('client-7.jpg')
          +clientsItem('client-8.jpg')
          +clientsItem('client-9.jpg')
          +clientsItem('client-10.jpg')
          +clientsItem('client-11.jpg')
          +clientsItem('client-12.jpg')

    //Work
    section.work
      .container
        +title('Работать с нами просто')
        .work__inner
          ul.work__list
            +workItem('work-1', '01', 'Свяжитесь с нами любым удобным способом')
            +workItem('work-2', '02', 'Получите консультацию по всем вопросам')
            +workItem('work-3', '03', 'Заключите договор на необходимые услуги')
            +workItem('work-4', '04', 'Предоставьте документацию бухгалтеру')
          +callbackBtn

    //Map
    section#contacts.map
      .container
        .map__info
          h2.map__title Контакты ООО "ОлдТраффорд"
          .map__item
            h3.map__item-title Телефон:
            +phones
          .map__item
            h3.map__item-title E-mail:
            a.map__mail(href="mailto:buhsale@mail.ru") buhsale@mail.ru
          .map__item
            h3.map__item-title Адрес:
            +location(false, true)
          a.map__link(href="contacts.html") Подробнее
      .map__wrapper
        script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2a696978720ea53ebd9e73ad180c28869d75ec04b1c62260721b4917e3c98ebd&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=false" rel="noreferrer")
