extends common/layout

include includes/service-repair/mixins

block title
  title ОлдТраффорд - Восстановление бухгалтерского и налогового учета

block content
  main
    //Crumbs
    +crumbs([
      {href: '#', name: 'Услуги'},
      {href: 'service-repair', name: 'Восстановление бухгалтерского и налогового учета'}
    ])
    //Repair
    section.repair
      .container
        +titlePage('Восстановление бухгалтерского и налогового учета')
        +descripPage('Восстановление бухгалтерского учета и отчетности — наша специализация. ООО «ОлдТраффорд»  осуществляет полное или частичное восстановление бухгалтерского учета организаций и индивидуальных предпринимателей по доступным  ценам.')
        .repair__inner
          .repair__reasons-content
            h3.repair__reasons-title Вам необходимо восстановление бухгалтерского учета и отчетности если:
            ul.repair__list
              +repairReasonsItem('archive.svg', 'Сменился бухгалтер, и не у кого уточнить информацию по бухгалтерскому учету, документам и контактам с контрагентами')
              +repairReasonsItem('server.svg', 'Нет бухгалтерской базы - не велась, случился компьютерный сбой или не отдает старый бухгалтер')
              +repairReasonsItem('paper.svg', 'Нет документов - нечем подтвердить расчет налогов, не понятно как составить отчетность')
              +repairReasonsItem('hourglass.svg', 'Нет времени - вы уже получили решение о проверке, или вам срочно нужно аудиторское заключение')
              +repairReasonsItem('contract.svg', 'Продаете или покупаете бизнес? Вместе с ним к нему перейдут и налоговые риски. Состояние бухгалтерского учета может существенно повлиять на итоговую цену сделки')
            p.repair__reasons-txt Не беспокойтесь! Стоимость восстановления бухгалтерского учета, гораздо ниже возможных рисков и налоговых неустоек. Оставьте заявку, чтобы рассчитать стоимость восстановления бухучета.
            +callbackBtn
          .repair__descrip
            p.repair__descrip-txt Точная финансовая информация крайне важна для оценки эффективности бизнеса и планирования его развития. Мы систематизируем, сверим и проанализируем все имеющиеся документы, восстановим недостающие с корректной хронологией учета, внесем необходимые исправления, оформим и представим соответствующим органам бухгалтерскую учетную документацию и правильные налоговые расчеты и декларации.
            +descripList('descrip-list__icon--check', 'repair-check', 'Восстановление бухгалтерского учета позволит:', ['повысить контроль за деятельностью компании,  реально оценивая ее финансовое положение;', 'запланировать новые бизнес-стратегии сохраняя платежеспособность;', 'избежать рисков, принимая взвешенные и своевременные управленческие решения;', 'сформировать постоянные деловые связи, предоставляя потенциальным партнерам достоверную информацию о финансовом состоянии и соблюдая договорные условия;', 'свести к минимуму претензии налоговых органов и иных контролирующих;', 'исключить факт возникновения административной и уголовной ответственности, связанных с нарушением налогового законодательства.'], ['Мы предложим оптимальные цены на услуги по восстановлению бухгалтерского учета как для владельцев крупных компаний,  так среднего и малого бизнеса, а также индивидуальных предпринимателей.'])
            +descripList('descrip-list__icon--round', 'repair-round', 'Однако показателей, влияющих на стоимость услуги по восстановлению бухгалтерского учёта довольно много:', ['цель восстановления бухгалтерского учета;', 'срок некорректного ведения бухучета или полного его отсутствия;', 'объем документооборота;', 'режим налогообложения;', 'специфики и  количества видов деятельности;', 'количество и трудоемкость восстановительных мероприятий, предельные сроки и т.д.'])
            p.repair__descrip-summary Поэтому расчет стоимости восстановления бухгалтерского учета в конкретном случае проводится в индивидуальном порядке после консультации с нашим специалистом.

    //Consult
    +consult('Рассчитать стоимость восстановления?', 'Оставьте свою заявку и мы подготовим для вас лучшее предложение')
