extends common/layout

include includes/service-onetime/mixins

block title
  title ОлдТраффорд - Разовые бухгалтерские услуги и отчетность

block content
  main
    //Crumbs
    +crumbs([
      {href: 'service-onetime.html', name: 'Разовые бухгалтерские услуги и отчетность'}
    ])

    //Onetime
    section.onetime
      .container
        +titlePage('Разовые бухгалтерские услуги и отчетность')
        +descripPage('«ОлдТраффорд» - это полный спектр бухгалтерских услуг не только на долговременной основе. Мы также оказываем разовые и периодические бухгалтерские услуги компаниям  и предпринимателям, а также физическим лицам.')
        .onetime__inner
          +onetimeFacesList([
            {icon: 'legal', txt: 'Юридическим лицам и индивидуальным предпринимателям', link: '#legal', id: 'onetime-details-legal'},
            {icon: 'individual', txt: 'Физическим лицам', link: '#individual', id: 'onetime-details-individ'}
          ])
          .onetime__wrapper
            +onetimeCallback('Выберите услугу или свяжитесь с нами', 'Мы ответим на все ваши вопросы и подготовим необходимое решение', 'onetime-callback')
            #service-onetime-legal.onetime__block
              +onetimeInfo('Разовые бухгалтерские услуги и отчетность для юридических лиц и индивидуальных предпринимателей',['Вести бухгалтерский учёт обязаны все юридические лица вне зависимости от размера бизнеса и организационно-правовой формы и индивидуальные предприниматели. Зачастую небольшим предприятиям невыгодно содержать постоянного бухгалтера в штате – для него просто нет ежедневной работы. Оптимальный выход в такой ситуации – разовые бухгалтерские услуги, оказываемые специализированной компанией.', 'Заказав разовые бухгалтерские услуги в ООО «ОлдТраффорд», Вы получаете квалифицированного бухгалтера, который будет работать с вашей компанией только тогда, когда это необходимо. Но при этом вы можете быть уверены в полном соответствии бухгалтерского учёта и отчётности в вашей организации всем требованиям законодательства Республики Беларусь.'], true, 'legal')
              .onetime__service-list
                +serviceList([
                  {txt: 'Нулевая отчётность и нулевой баланс.'},
                  {txt: 'Восстановление бухгалтерского учета и/или налогового учета.'},
                  {txt: 'Управленческий учет.'},
                  {txt: 'Электронная подача деклараций, отчетов и форм на основании Ваших учетных данных.'},
                  {txt: 'Единовременное начисление заработной платы.'},
                  {txt: 'Получение электронных ключей или продление их срока действия.'},
                  {txt: 'Сверка и урегулирование вопросов с налоговыми органами, органами статистики и страхования.'},
                  {txt: 'Сверка с контрагентами.'},
                  {txt: 'Разработка учетной и налоговой политики с учетом специфики Вашего предприятия'},
                  {txt: 'Составление годового или квартального баланса с приложениями, пояснительной записки на основе Ваших учетных данных.'},
                  {txt: 'Составление бухгалтерского баланса при УСН.'},
                  {txt: 'Подготовка ликвидационного баланса.'},
                  {txt: 'Разовое оформление бухгалтерских или хозяйственных документов.'},
                  {txt: 'Подготовка пакета документов для получения кредита в банке.'},
                  {txt: 'Подготовка пакета документов для инвестиционного кредита.'},
                  {txt: 'Разработка бизнес-плана.'},
                  {txt: 'Подготовка пакета документов для оформления лизинга.'},
                  {txt: 'Составление статистической отчетности.'},
                  {txt: 'Консультирование для выбора оптимальной системы налогообложения.'},
                  {txt: 'Подготовка персонифицированного отчета.'},
                  {txt: 'Составление авансового отчета.'},
                  {txt: 'Ведение и печать кассовой книги.'},
                  {txt: 'Расчет чистой прибыли для начисления дивидендов при упрощенной системе налогообложения (УСН).'},
                  {txt: 'Разовое составление договоров, накладных, счетов-фактур и иных документов.'},
                  {txt: 'Сверка с налоговыми органами или внебюджетными фондами.'},
                  {txt: 'Выписка товарных и товарно-транспортных (ТН, ТТН) накладных.'},
                  {txt: 'Электронная подача деклараций.'},
                  {txt: 'Составление экономического обоснования цены.'},
                  {txt: 'Составление калькуляций на  услуги или работы.'},
                  {txt: 'Составление калькуляции для производства продукции.'},
                  {txt: 'Заполнение и сдача в налоговую (ИМНС) Заявления по ввозу товара из Российской Федерации с приложением всех необходимых документов.'},
                  {txt: 'Оформление учета и списания бланков строгой отчетности (БСО).'},
                ])
              +descripList('descrip-list__icon--round', 'repair-round', 'В случаях, когда субъектами предпринимательства не ведется хозяйственная деятельность, а именно:', ['отсутствуют какие-либо хозяйственные операции;', 'сжатые сроки предоставления налоговой декларации в налоговые органы;', 'нет активных операций по расчетному счету предприятия;', 'отсутствует движение по кадровому составу;', 'не начисляется и не выплачивается заработная плата работникам или дивиденды учредителям, составляют так называемую «нулевую отчетность» и «нулевой баланс».'], ['Данная ситуация возникает в отчетные периоды, когда предприятие либо вновь зарегистрировано, либо отсутствует или временно приостановлена его деятельность. В любом случае, остается необходимость предоставлять налоговые декларации, отчеты и служебные письма об отсутствии деятельности.', 'Даже если предприятие не работало в течение некоторого периода времени, в соответствии с законодательством  Республики Беларусь, оно обязано предоставлять отчеты в налоговый орган, Фонд социальной защиты населения, органы статистики и Белгосстрах.', 'При всей кажущейся простоте составления нулевой отчетности существуют нормы и требования, соблюдение которых требует бухгалтерского опыта и навыков. Поручите эту работу нашим специалистам и мы гарантированно решим вопросы отчетности в установленные законодательством объемы и сроки про приемлемым ценам.'])
              +onetimeCallback('Нужна помощь?', 'Мы ответим на все ваши вопросы и подготовим необходимое решение')
            #service-onetime-individ.onetime__block
              .onetime__fee
                +onetimeInfo('Разовые бухгалтерские услуги для физических лиц', ['Вести бухгалтерский учёт обязаны все юридические лица вне зависимости от размера бизнеса и организационно-правовой формы и индивидуальные предприниматели. Зачастую небольшим предприятиям невыгодно содержать постоянного бухгалтера в штате – для него просто нет ежедневной работы. Оптимальный выход в такой ситуации – разовые бухгалтерские услуги, оказываемые специализированной компанией.', 'Заказав разовые бухгалтерские услуги в ООО «ОлдТраффорд», Вы получаете квалифицированного бухгалтера, который будет работать с вашей компанией только тогда, когда это необходимо. Но при этом вы можете быть уверены в полном соответствии бухгалтерского учёта и отчётности в вашей организации всем требованиям законодательства Республики Беларусь.'], true, 'individual')
                +onetimeFeeList([
                  {title: 'Декларация по подоходному налогу', link: '#declaration-tax'},
                  {title: 'Декларация о доходах и имуществе по требованию налогового органа', link: '#declaration-demand'},
                  {title: 'Деятельность физических лиц без регистрации ИП', link: '#individual-noreg'},
                ])
              +onetimeInfo('Налоговая декларация по подоходному налогу с физических лиц', ['Физическое лицо, в установленных законодательством случаях, обязано предоставить в налоговый орган декларацию по подоходному налогу (например, Вы получили доходы из-за границы или от лиц, не являющихся близкими родственниками; реализовали два и более объектов недвижимости  в течение 5 лет или два и более автомобилей в году предшествующем году подачи декларации и т.д.).', 'Также, физические лица вправе представить такую декларацию, в том числе с целью получения налоговых вычетов (возврата или зачета ранее уплаченных сумм подоходного налога).', 'Существуют различные формы налоговой декларации по подоходному налогу с физических лиц: для налоговых резидентов Республики Беларусь и лиц, не признаваемых налоговыми резидентами Республики Беларусь (нерезидентов).', 'В зависимости от цели декларирования и статуса физического лица,  декларирование подоходного налога требует различного подхода к составлению и срокам предоставления этих деклараций, а также высокого уровня знания законодательства Республики Беларусь и международных договоров.', 'Если заполнение декларации вызывает трудности или у Вас просто нет на это времени, доверьте эту работу профессионалам'], false, 'declaration-tax')
              +onetimeCallback('Нужна помощь?', 'Мы поможем вам составить необходимую декларацию и ответим на вопросы.')
              +onetimeInfo('Декларация о доходах и имуществе по требованию (запросу) налоговых органов', ['По требованию налоговых органов любое физическое лицо обязано предоставить декларацию о доходах и имуществе. Такое требование предъявляется, когда в налоговом органе имеется информация о том, что сумма Ваших расходов превысила сумму доходов на 250 базовых величин или более, а также на основании запроса органов КГК, внутренних дел, прокураты, СК РБ, либо по решению Министра по налогам и сборам или его заместителей.', 'Как правило, налоговый орган знает о большинстве Ваших законных доходах и их источниках. При этом налоговый орган не имеет информации, например, о сделках дарения, займах между физическими лицами и индивидуальными предпринимателями, о сумме доходов от занятия деятельностью, не признаваемой предпринимательской и т.п.', 'Источники финансирования необходимо подтвердить документально. Учитывая, что налоговые органы на практике осуществляют контроль за балансом доходов и расходов физических лиц  за период не менее, чем  предшествующие 10 лет, составление декларации и пояснений об источниках доходов -  сложная задача.'], false, 'declaration-demand')
              +descripList('descrip-list__icon--round', 'repair-round', 'При подготовке декларации также необходимо учитывать:', ['особенности составления декларации и учета доходов и расходов в ней;', 'сжатые сроки предоставления налоговой декларации в налоговые органы;', 'высокую вероятность необходимости дальнейшего предоставления пояснений об источниках доходов. '], ['Испытываете трудности при составлении  расчета Ваших доходов и расходов, заполнении декларации? Обращайтесь, мы поможем!'])
              +onetimeCallback('Нужна помощь?', 'Мы поможем вам составить необходимую декларацию и ответим на вопросы.')
              #individual-noreg.onetime__info
                +onetimeTitle('Деятельность физических лиц без регистрации в качестве индивидуального предпринимателя')
                p
                  a(href="#") Перечень видов деятельности
                  |физических лиц, не относимых к предпринимательской деятельности и, соответственно, не требующих регистрации в качестве индивидуального предпринимателя, установлен пунктом 3 статьи 337 Налогового кодекса Республики Беларусь.
                p Для того, чтобы законно осуществлять указанные выше виды деятельности необходимо до дня начала осуществления в налоговом периоде (это период с 01 января по 31 декабря) указанных видов деятельности подать в налоговый орган уведомление с указанием: предполагаемых видов деятельности, видов товаров, формы оказания услуг, периода осуществления деятельности, места осуществления деятельности и уплатить единый налог.
                p Налог уплачивается до начала осуществления деятельности, т.е. авансом. Ставки единого налога зависят от места (региона) оказания услуг. Если Вы планируете осуществлять несколько видов деятельности из приведенного перечня или сразу в нескольких населенных пунктах – единый налог уплачивается по тому виду деятельности, по которому установлена наиболее высокая ставка единого налога.
                p Внимание! У такой деятельности есть ограничения - конечным потребителем работ (услуг) могут быть только  физические лица,  работать с юридическими лицами и индивидуальными предпринимателями запрещено, а также нельзя привлекать наемных лиц.
                p Как правило, лица осуществляющие такую деятельность, не нуждаются в бухгалтерских услугах, однако, если у Вас имеются какие-либо вопросы о порядке ведения деятельности, не относящейся к предпринимательской, либо Вы планируете расширяться и нуждаетесь в рекомендациях, специалисты ООО «ОлдТраффорд» будут рады Вам помочь.
              +consult('Нужна помощь?', 'Обращайтесь, и мы ответим на все ваши вопросы.', 'container--paddingless')
