extends common/layout

include includes/service-complex/mixins

block menu
  +menu

block title
  title ОлдТраффорд - Комплексное бухгалтерское обслуживание

block content
  main
    //Crumbs
    +crumbs([
      {href: 'service-complex.html', name: 'Комплексное бухгалтерское обслуживание'}
    ])

    //Complex
    section.complex
      .container
        +titlePage('Комплексное бухгалтерское обслуживание')
        +descripPage('ООО «ОлдТраффорд» предлагает полный комплекс профессиональных бухгалтерских услуг для Вашего бизнеса. Мы организуем ведение бухгалтерского учета и бухгалтерское обслуживание как для делающих первые шаги, так  и для давно действующих компаний и индивидуальных предпринимателей с учетом отраслевых, организационных и структурных особенностей деятельности. При этом, Вы можете передать нам ведение бухгалтерского учета как полностью, так и частично, получить обслуживание как в офисе,  так и удаленное сопровождение.')
        .complex__inner
          h3.complex__subtitle Закажите услуги профессиональных специалистов ООО &laquo;ОлдТраффорд&raquo; и освободите свой финансовый и временной потенциал  для решения основных задач, а мы возьмем на себя:
          .complex__content
            .complex__list-wrapper
              +serviceList([
                  {txt: 'Разработку учетной политики и постановки бухгалтерского учета'},
                  {txt: 'Восстановление учета', href: 'service-repair'},
                  {txt: 'Ведение и учёт первичных документов по всем хозяйственным операциям'},
                  {txt: 'Ведение налогового учёта с оптимизацией налогооблагаемой базы.'},
                  {txt: 'Составление и сдачу налоговых деклараций, бухгалтерской и прочей отчётности'},
                  {txt: 'Формирование и составление книг покупок и продаж'},
                  {txt: 'Расчет и начисление износа основных средств'},
                  {txt: 'Анализ ведения бухгалтерского учёта в сфере расчётов с кредиторами и дебиторами'},
                  {txt: 'Проведение расчётов с сотрудниками по оплате труда'},
                  {txt: 'Представительство в налоговых органах и участие в налоговых проверках'},
                  {txt: 'Введение данных в бухгалтерскую программу, их обработку и систематизацию'},
                  {txt: 'Консультации  по текущим вопросам бухучета и налогообложения, а также  информационная поддержка каждого клиента'},
                  {txt: 'Аудит существующего бухучета и отчетности'},
                  {txt: 'Ведение бухгалтерского и налогового учета с передачей на аутсорсинг отдельных участков бухгалтерии'},
                  {txt: 'Разработка и актуализация штатного расписания, начисление и расчет заработной платы'},
                  {txt: 'Представление интересов клиента перед налоговыми (надзорными) органами'},
              ], 'borderless')
            .complex__cost
              img.complex__img(src="images/service-complex/mockup.png", alt="")
              .complex__callback
                h4.complex__callback-title Рассчитать стоимость обслуживания?
                p.complex__callback-txt Мы ответим на все ваши вопросы и подготовим необходимое решение
                +callbackBtn
          .complex__txt
            p Заключив с нами договор на бухгалтерское обслуживание и сопровождение, Вы сможете право отнести стоимость бухгалтерского обслуживания на расходы и тем самым снизить налогооблагаемый доход.
            p Вы платите только за объем выполненной работы, а не исполнителю.
            p Бухгалтерское обслуживание позволяет не только получить качественную услугу, но и сэкономить средства компании.
          ul.complex__list
            +complexListItem('Сокращение накладных расходов.', 'Экономия достигается за счет возможности сокращения собственного бухгалтерского подразделения, а это зарплаты, налоги, дополнительные, аренда офисных площадей, амортизационные расходы и т. д. Кроме того, нет необходимости покупать специализированные программы и периодически оплачивать их поддержку.')
            +complexListItem('Экономия времени.', 'Аутсорсинг бухгалтерии позволяет руководству сосредоточиться на решении ключевых бизнес-задач, а не заниматься обслуживающими операциями и рутинной работой по составлению отчетности.')
            +complexListItem('Минимизация рисков.', 'Процесс дистанционного ведения документации ведется беспрерывно, в то время как риски его прерывания или неудовлетворительного ведения возможны в случае болезни штатного бухгалтера, его увольнения или ухода в отпуск.')
            li
              +icon('complex__list-icon', 'complex-check')
              .complex__list-content
                h4.complex__list-title Перераспределение ответственности.
                p
                  |Объем работ и другие условия сотрудничества неизменно указываются в заключаемом договоре, который является гарантией качественного и своевременного выполнения работ. Мы несем полную  ответственность в случае некорректного выполнения расчетов или, например, несвоевременной сдачи отчетности, и обязуемся возместить  обоснованные  потери клиенту.&nbsp;
                  span Наша ответственность застрахована!

      //Consult
      +consult('Рассчитать стоимость?', 'Оставьте свою заявку и мы подготовим для вас лучшее предложение.')
