.clients {
  padding-bottom: 11.3rem;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 5.5rem;

  @include media-tablet-lg {
    margin-bottom: 50px;
  }
}

.clients__item {
  position: relative;

  padding: 0 1rem;

  @include media-tablet-lg {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.clients__link {
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transition: box-shadow 0.1s linear;
}

.clients__img {
  max-width: 100%;
  width: auto;

  padding: 10px;

  border-radius: 10px;

  object-fit: contain;
}
