.clients {
  padding-bottom: 11.3rem;
}

.clients__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 5.5rem;
}

.clients__item {
  max-width: 100%;
  width: auto;
  padding: 0 2rem;

  object-fit: contain;

  margin-bottom: 3.7rem;
}
