.company {
  padding-bottom: 9.5rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-tablet-lg {
    padding-bottom: 6rem;
  }
}

.company__inner {
  display: flex;
  align-items: center;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.company__img {
  max-width: 40rem;
  min-width: 40rem;

  margin-right: 7rem;

  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.04));

  @include media-tablet-lg {
    max-width: 30rem;
    min-width: unset;

    margin-left: 0;
    margin-right: 0;
  }

  img {
    margin-bottom: 3.2rem;

    border-radius: 20px;
  }

  figcaption {
    text-align: center;
    font-family: $font-secondary;

    @include media-tablet-lg {
      margin-bottom: 20px;
    }

    p:not(:last-child) {
      margin-bottom: 1rem;

      font-size: 2.2rem;
    }

    p:last-child {
      font-size: 1.6rem;
    }
  }
}

.company__title {
  max-width: 62rem;

  margin-bottom: 2.1rem;

  font-size: 2.6rem;
  font-family: $font-secondary;

  line-height: 3.9rem;

  @include media-tablet-lg {
    max-width: unset;

    text-align: center;
  }
}

.company__info {
  display: flex;
  flex-direction: column;

  max-width: 70rem;

  @include media-tablet-lg {
    max-width: unset;
  }
}

.company__details {
  &[open] {
    .company__summary {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);

      &::after {
        display: none;
      }

      &-icon {
        transform: rotate(-90deg);
      }
    }
  }
}

.company__summary {
  @include details-summary;

  position: relative;

  span,
  &-icon {
    z-index: 1;
  }

  &::after {
    position: absolute;

    content: '';

    top: -145px;
    right: 50%;
    transform: translateX(50%);

    width: 100vw;
    height: 150px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 94.27%
    );
  }
}

.company__txt {
  position: relative;

  line-height: 2.4rem;
  text-align: justify;

  @include media-smartphone-lg {
    text-align: left;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 2.1rem;
    }
  }
}

.company__icon {
  position: absolute;

  width: 6.3rem;
  height: 6.3rem;

  right: 0;
  bottom: -30px;
}
