.features {
  padding-bottom: 10.4rem;
}

.features__list {
  display: flex;
  justify-content: space-between;

  padding-top: 5.5rem;

  @include media-tablet-lg {
    margin-bottom: 50px;

    padding-top: 4rem;
  }
}

.features__item {
  width: 31.5%;

  padding: 4.7rem 3.5rem 2.6rem 3.5rem;

  border: 1px solid $color-tertiary-beta;
  border-radius: 10px;

  text-align: center;

  @include media-tablet-sm {
    flex-wrap: nowrap;

    padding: 4.7rem 1.5rem 2.6rem 1.5rem;
  }
}

.features__icon {
  margin-bottom: 3.4rem;

  width: 50px;
  height: 50px;
}

.features__item-title {
  margin-bottom: 1.7rem;

  font-weight: 500;
}

.features__item-txt {
  color: $color-primary-omega;
  line-height: 1.4;
  font-size: 14px;
}
