.features {
  padding: 8.2rem 0 10.4rem;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 5.5rem;
}

.features__item {
  width: 31.5%;

  margin-bottom: 3rem;
  padding: 4.7rem 3.5rem 7.4rem 3.5rem;

  border: 1px solid $color-tertiary-beta;

  text-align: center;
}

.features__icon {
  margin-bottom: 3.4rem;

  width: 50px;
  height: 50px;
}

.features__item-title {
  margin-bottom: 2.7rem;

  font-weight: 500;
}

.features__item-txt {
  color: $color-primary-omega;
  line-height: 1.4;
  font-size: 14px;
}
