.map {
  position: relative;

  @include location(row, 16px, 500, 16px, column);

  min-height: 70rem;
}

.map__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map__info {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  z-index: 1;

  max-width: 47rem;
  width: 100%;

  padding: 3.8rem 10.4rem 4.1rem 7rem;

  background-color: $color-primary-beta;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);

  border-radius: 7px;

  .phones {
    @include phones(column);

    font-size: 1.8rem;
  }
}

.map__item {
  margin-bottom: 1.6rem;
}

.map__title {
  max-width: 27.5rem;

  margin-bottom: 1.9rem;

  font-family: $font-secondary;
  line-height: 1.6;
}

.map__item-title {
  margin-bottom: 8px;
}

.map__mail {
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-primary-gamma;
}

.map__link {
  font-size: 1.8rem;
  color: $color-primary-alpha;

  border-bottom: 1px solid $color-primary-alpha;
}
