.pluses {
  padding-bottom: 6.3rem;
}

.pluses__title {
  font-size: 2.2rem;
  font-family: $font-secondary;
  text-align: center;

  margin-bottom: 2rem;

  span {
    color: $color-primary-alpha;
  }
}

.pluses__inner {
  display: flex;
  flex-wrap: wrap;

  padding-top: 3rem;
}

.pluses__item {
  display: flex;
  width: 48%;

  &:nth-child(4n + 3),
  &:nth-child(4n + 4) {
    .pluses__txt {
      color: $color-primary-alpha;
    }
  }
}

.pluses__icon {
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;

  margin-right: 1.6rem;

  fill: $color-primary-gamma;
}

.pluses__txt {
  margin-bottom: 10px;
  max-width: 47rem;

  line-height: 1.5;
}
