.provider {
  padding-bottom: 4.5rem;
}

.provider__title {
  margin-bottom: 3.5rem;

  font-size: 2.2rem;
  text-align: center;
  font-family: $font-secondary;
}

.provider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 17px;

  @include media-tablet-sm {
    flex-wrap: nowrap;

    margin-bottom: 30px;
  }
}

.provider__item {
  position: relative;

  display: flex;
  align-items: center;

  width: 23%;
  height: auto;

  padding: 2.35rem 3rem;
  margin-bottom: 3.6rem;

  background-color: $color-tertiary-beta;
  border-radius: 5px;

  @include media-tablet-lg {
    width: 48%;
  }

  @include media-tablet-sm {
    margin-bottom: 0;
  }
}

.provider__icon {
  position: absolute;

  top: -1.75rem;
  left: 3rem;

  width: 35px;
  height: 35px;
}

.provider__txt {
  font-size: 14px;
  line-height: 1.5;
}
