.provider {
  padding-bottom: 4.5rem;
}

.provider__title {
  margin-bottom: 3.5rem;

  font-size: 2.2rem;
  text-align: center;
  font-family: $font-secondary;

  @include media-tablet-lg {
    margin-bottom: 2rem;
  }
}

.provider__list {
  display: flex;

  padding-top: 17px;

  @include media-tablet-lg {
    margin-bottom: 50px;
  }
}

.provider__item {
  position: relative;

  display: flex;
  align-items: center;

  width: 23%;

  padding: 2.35rem 3rem;

  background-color: $color-tertiary-beta;
  border-radius: 5px;
}

.provider__icon {
  position: absolute;

  top: -1.75rem;
  left: 3rem;

  padding: 7px;

  width: 35px;
  height: 35px;

  fill: $color-primary-alpha;

  background-color: $color-primary-beta;

  border-radius: 50%;
}

.provider__txt {
  font-size: 14px;
  line-height: 1.5;
}
