.work {
  padding: 5.5rem 0 6.3rem;

  background-color: $color-quaternary-beta;

  .callback {
    display: block;

    margin: 0 auto;

    @include media-tablet-lg {
      margin-top: 40px;
    }
  }
}

.work__list {
  display: flex;
  align-items: center;

  padding: 6.5rem 0 6rem;
}

.work__item {
  &:not(:last-child) {
    .work__img {
      &::after {
        position: absolute;

        display: inline-block;

        content: '';

        left: 55%;

        max-width: 10rem;
        width: 100%;

        opacity: 0.2;
        border-bottom: 2px dashed $color-primary-gamma;

        @include media-smartphone-sm {
          display: none;
        }
      }
    }
  }
}

.work__img {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 3.4rem;
}

.work__icon {
  width: 8rem;
  height: 8rem;
}

.work__num {
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);

  background: linear-gradient(
    270deg,
    #1d1d1d 0.72%,
    rgba(29, 29, 29, 0) 78.47%
  );

  @include num;
}

.work__txt {
  max-width: 27rem;

  font-size: 2rem;
  line-height: 1.4;
}
