.onetime__faces {
  padding-bottom: 3.5rem;
}

.onetime__faces {
  display: flex;
  justify-content: space-between;

  padding-left: 3rem;

  @include media-tablet-lg {
    flex-direction: column;
  }

  li {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.4rem 10rem;
    margin-bottom: 2.4rem;

    background-color: $color-tertiary-beta;
    border-radius: 10px;

    @include media-laptop {
      width: 48%;

      padding-right: 5rem;
    }

    @include media-tablet-lg {
      width: 100%;
    }
  }
}

.onetime__faces-content {
  p {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  a {
    font-size: 14px;
    color: $color-primary-alpha;
    border-bottom: 1px dashed $color-primary-alpha;
  }
}

.onetime__faces-icon {
  position: absolute;

  left: -3rem;

  width: 100px;
  height: 80px;
}
