.onetime__fee {
  padding-bottom: 2.2rem;

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 3.9rem 3rem 2.9rem 3rem;
    margin-bottom: 2rem;

    width: 31%;

    border: 2px solid $color-primary-alpha;
    border-radius: 10px;

    @include media-tablet-lg {
      width: 49%;

      padding: 3.9rem 1rem 2.9rem 1rem;
    }

    @include media-tablet-sm {
      width: 100%;
    }
  }
}

.onetime__fee-title {
  margin-bottom: 2.4rem;

  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.onetime__fee-link {
  display: flex;

  margin-right: 1rem;

  text-align: center;
  font-weight: 500;
  color: $color-primary-alpha;

  transition: transform 0.15s linear;

  &:hover {
    transform: translateY(2px);
  }
}

.onetime__fee-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;

  fill: $color-primary-alpha;
}
