.law__form-content {
  display: flex;
  flex-direction: column;
}

.law__form-wrapper {
  padding: 2.8rem 4rem 5.2rem;
  margin-right: 5.9rem;

  max-width: 40rem;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);

  @include media-tablet-sm {
    margin-bottom: 5rem;
    margin-right: 0;
  }
}

.law__form-inner {
  display: flex;
  align-items: center;

  margin-bottom: 3.8rem;

  @include media-tablet-sm {
    flex-direction: column;
  }
}

.law__list {
  li {
    display: flex;

    margin-bottom: 2.7rem;

    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.law__list-icon {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;

  margin-right: 2.3rem;
}

.law__permission {
  padding-left: 2.8rem;
  padding-top: 3.5rem;

  line-height: 1.5;
  color: $color-primary-omega;

  a {
    color: $color-secondary-psi;
    text-decoration: underline;
  }
}
