@mixin button {
  padding: 2rem 3.4rem;

  background-color: $color-primary-alpha;
  border-radius: 3px;
  border: 2px solid $color-primary-alpha;

  text-transform: uppercase;
  color: $color-primary-beta;
  font-size: 13px;
  font-weight: 600;

  transition: background-color 0.1s linear, border-color 0.1s linear,
    color 0.1s linear;

  &:hover {
    background-color: darken($color-primary-alpha, 5);
    border-color: darken($color-primary-alpha, 5);
  }
}
