@mixin details-summary {
  display: none;
  text-align: center;

  margin: 0 auto 10px;

  cursor: pointer;

  span {
    color: $color-primary-alpha;
    border-bottom: 1px dashed $color-primary-alpha;
    text-align: center;
    font-size: 14px;

    margin-right: 7px;
  }

  @include media-tablet-lg {
    display: block;
  }

  &-icon {
    width: 10px;
    height: 10px;

    vertical-align: middle;
  }
}
