@mixin location(
  $flexDirMetro,
  $fsAddress,
  $fwAddress,
  $fsMetro,
  $flexDirMetroItem: row,
  $flexDirLocation: column
) {
  .location {
    display: flex;
    flex-direction: $flexDirLocation;

    margin-right: 3.2rem;
  }

  .location__address {
    display: flex;
    align-items: center;

    margin-bottom: 8px;

    font-size: $fsAddress;
    color: $color-primary-gamma;
    font-weight: $fwAddress;
  }

  .location__metro {
    display: flex;
    flex-direction: $flexDirMetro;
    align-items: center;
  }

  .location__metro-item {
    display: flex;
    flex-direction: $flexDirMetroItem;

    p {
      margin-right: 12px;

      font-size: $fsMetro;

      &:first-of-type {
        color: $color-primary-psi;
      }

      &:last-of-type {
        color: $color-primary-alpha;
      }
    }
  }
}

.location__icon {
  fill: $color-secondary-beta;

  margin-right: 6px;
}
