@mixin phones($flexDir, $itemMarginRight: 0, $fw: 500) {
  display: flex;
  flex-direction: $flexDir;

  .phones__item {
    display: flex;
    align-items: center;

    margin-right: $itemMarginRight;

    color: $color-primary-gamma;
    font-size: 1.6rem;
    font-weight: $fw;
    line-height: 1.4;
  }

  .phones__icon {
    &--a1 {
      position: relative;
      right: 3px;

      width: 23px;
      height: 23px;

      margin-right: 7px;
    }

    &--mts {
      width: 13px;
      height: 18px;

      margin-right: 17px;
    }
  }

  .phones__num {
    font-size: 16px;
  }
}
