.repair__inner {
  padding: 5rem 0 7.2rem;
}

.repair__reasons-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 6.5rem;
}

.repair__reasons-title {
  margin-bottom: 5rem;

  font-size: 22px;
  line-height: 150%;
  color: $color-primary-alpha;
  text-align: center;
}

.repair__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 0.7rem;

  @include media-laptop {
    justify-content: center;
  }
}

.repair__reasons-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 19%;

  margin-bottom: 5rem;

  text-align: center;

  @include media-laptop {
    width: 33.33333%;

    padding: 0 1rem;
  }

  @include media-tablet-sm {
    width: 47%;
  }

  @include media-smartphone-sm {
    width: 100%;

    padding: 0;
  }
}

.repair__reasons-item-img {
  width: 60px;

  margin-bottom: 2rem;
}

.repair__reasons-item-txt {
  font-size: 14px;
  color: $color-primary-omega;
  line-height: 1.5;

  @include media-smartphone-lg {
    font-size: 12px;
  }
}

.repair__reasons-txt {
  max-width: 95rem;

  margin-bottom: 2.8rem;

  text-align: center;
  line-height: 1.7;
}

.repair__descrip-txt {
  margin-bottom: 3rem;

  text-align: justify;
  line-height: 1.5;
}

.repair__descrip-summary {
  line-height: 150%;
  font-weight: 500;
  text-align: justify;
  font-size: 1.8rem;
}
