.consult {
  display: flex;
  align-items: center;

  padding-top: 2.2rem;
  margin-bottom: 8rem;

  background: linear-gradient(
    94.28deg,
    #fcfcfc 0%,
    rgba(245, 245, 245, 0) 99.73%
  );

  border-radius: 20px;
  border: 1px solid $color-primary-alpha;
}

.consult__img {
  max-width: 40.2rem;

  margin-right: 6.5rem;

  object-fit: cover;
}

.consult__info {
  text-align: center;

  .phones {
    @include phones('row', 3rem);
  }
}

.consult__title {
  margin-bottom: 1.5rem;

  font-family: $font-secondary;
  font-size: 2.8rem;
  color: $color-primary-alpha;
}

.consult__subtitle {
  margin-bottom: 3rem;

  font-size: 1.8rem;
}
