.crumbs {
  margin-bottom: 4.8rem;

  @include media-tablet-lg {
    margin-bottom: 3rem;
  }

  @include media-tablet-sm {
    margin-top: 20px;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    a {
      color: lighten($color-primary-gamma, 30);

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-of-type) {
      &::after {
        display: inline-block;
        content: '/';
        margin: 0 2rem;
        color: $color-primary-gamma;

        @include media-smartphone-lg {
          margin: 0 1rem;
        }
      }
    }

    &:last-of-type {
      a {
        font-weight: 500;
      }
    }
  }
}
