.service-list {
  li {
    border-bottom: 1px solid $color-tertiary-beta;

    &:not(:last-child) {
      margin-bottom: 8px;

      a {
        color: $color-primary-alpha;
        border-bottom: 1px solid $color-primary-alpha;
        font-size: 16px;
      }
    }
  }

  li.borderless {
    border: none;
  }
}

.service-list__content {
  display: flex;

  padding-bottom: 10px;
}

.service-list__icon {
  position: relative;

  margin-right: 2rem;

  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;

  fill: $color-primary-alpha;
}
